.cover__link {
  margin-top: 92px;
  width: 1184px;
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  color: white;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100%;
  position: relative;
}

.cover__link::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  position: absolute;
  opacity: 0.3;
  transition: .5s;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width:1240px) {

  .cover__link {
    height: 640px;
    width: 1024px;
  }
}

@media screen and (max-width:1024px) {

  .cover__link {
    height: 480px;
    width: 768px;
  }
}

@media screen and (max-width:768px) {

  .cover__link {
    margin-top: 66px;
    height: 200px;
    width: 320px;
  }
}