.cover__link{
  margin-top: 92px;
  min-height: 740px;
  display: flex;
  background: chocolate;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  color: white;
  background-image: url(../../../images/__background.png);
  position: relative;
}

.cover__link::before{
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.3;
  transition: .5s;
}

.cover__link:hover:before{
  opacity: 0.8;
}

@media screen and (max-width:1240px){

  .cover__link{
    min-height: 640px;
  }
}

@media screen and (max-width:1024px){

  .cover__link{
    min-height: 480px;
  }
}
@media screen and (max-width:768px){
  
  .cover__link{
    margin-top: 66px;
    min-height: 200px;
  }
}