.place__title {
  max-width: 460px;
  font-weight: 900;
  line-height: 76px;
  font-size: 72px;
  margin: 0;
}

@media screen and (max-width:1023px) {

  .place__title {
    width: 340px;
    line-height: 42px;
    font-size: 46px;
  }
}

@media screen and (max-width:767px) {

  .place__title {
    width: 288px;
    line-height: 32px;
    font-size: 35px;
    margin-left: 16px;
  }
}