.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  justify-self: center;
  margin: 92px 0 0 0;
  padding: 0;
  gap: 16px;
}

@media screen and (max-width:1240px) {

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 928px;
    gap: 14px;
  }
}


@media screen and (max-width:1024px) {

  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 720px;
  }
}

@media screen and (max-width:768px) {

  .gallery {

    max-width: 288px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
