.intro__list {
  list-style: none;
  font-weight: 700;
  line-height: 18px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-self: right;
  margin: 0;
  padding: 0;
}
