.gallery__image{
    max-width:284px ;
    max-height: 213px;
}


@media screen and (max-width:1240px){

    .gallery__image{
        max-width:300px ;
        max-height: 225px;
    }
    
}
  @media screen and (max-width:1024px){
  
    .gallery__image{
        max-width:352px ;
        max-height: 264px;
    }
}
  
  @media screen and (max-width:768px){
    
    .gallery__image{
        max-width:288px ;
        max-height: 216px;
    }
    
  }