.footer__column{
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 24px 0;
}

@media screen and (max-width:768px){
  
  .footer__column{
    flex-direction: column;
    align-items: flex-start;
  }
}