.intro {
  color: white;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-self: center;
}

@media screen and (max-width:1024px) {

  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width:768px) {
  .intro {
    max-width: 288px;
  }
}

@media screen and (max-width:1240px) {

  .intro {
    max-width: 690x;
  }
}