.intro{
  color: white;
  font-family: "Inter";
  max-width: 690px;
  margin: 0 70px 0;
}

@media screen and (max-width:768px){
  .intro{
    max-width: 288px;
    max-height: 754px;
    margin: 0 16px 0;
  }
}