.lead__subtitle {
  margin: 32px 0 64px 0;
  display: flex;
  justify-content: center;
  line-height: 36px;
  font-size: 30px;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width:768px) {

  .lead__subtitle {
    line-height: 20px;
    font-size: 16px;
    max-width: 288px;
  }
}