.place {
  color: white;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  align-items: stretch;
  justify-items: stretch;
  gap: 48px 5px;
  width: 984px;
  margin: 92px 0 0 0;
}

@media screen and (max-width:1239px) {
  .place {
    width: 928px;
  }
}


@media screen and (max-width:1023px) {
  .place {
    width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width:767px) {

  .place {
    width: 320px;
    grid-template-columns: 1fr;
    margin: 50px 0px 0 0;
  }
}