.place__description{
  line-height: 30px;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width:1024px){

  .place__description{
    line-height: 26px;
    font-size: 16px;
  }
}


@media screen and (max-width:768px){
  
  .place__description{
    line-height: 26px;
    font-size: 16px;
    margin:  0 16px 0 16px;
  }

}